html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: inherit;
  margin: 0;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body{
  text-transform: uppercase;
  @extend %ptsans-regular;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-content{
  margin: 0 auto;
  max-width: 1056px;
}
.content__wrapper{
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
}
.container__small{
  max-width: 960px;
  margin: 0 auto;
}
.title{
  @extend %ptsans-bold;
  color: #000;
}
.benefits__title{
  font-size: 21px;
  line-height: 24px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mfp-bg {
  background: transparent;
}
.mfp-close-btn-in .mfp-close{
  display: none;
}
.mfp-content {
  top: 96px;
  left: -8px;
}