html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: inherit;
  margin: 0;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body{
  text-transform: uppercase;
  @extend %ptsans-regular;
  font-size: 14px;
  line-height: 16px;
}
.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;

}
.content__wrapper{
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
}
.title{
  @extend %ptsans-bold;
}
.benefits__title{
  font-size: 21px;
  line-height: 24px;
}
