@media(max-width: 1200px){
  .benefits__item {
    padding: 60px 60px 70px;
  }
}
@media(max-width: 1150px){
  .hotels-search__bottom-filter__inner{
    justify-content: space-around;
  }
  .hotels-search__items{
    padding: 0 15px;
  }
}
@media(max-width: 1100px){
  .benefits__position-img {
    margin-top: 0;
  }
  .benefits__position-textarea {
    padding: 45px 47px 47px;
  }
  .benefits__items-positions .benefits__item {
    padding: 45px 52px 40px;
  }
  .hotels-search__top-left {
    max-width: 310px;
  }
  .hotels-search__top-inner{
    padding: 0 15px;
  }
}
@media(max-width: 1000px){
  .benefits__position-textarea {
    max-width: 350px;
  }
}
@media(max-width: 970px){
  .benefits__items-positions .benefits__item-title {
    margin: 0 0 18px;
    white-space: pre-line;
  }
}
@media(max-width: 950px){
  .header {
    background-position: top 20px center;
  }
  .benefits__position-textarea {
    max-width: 310px;
  }
  .benefits__items-positions .benefits__item {
    padding: 45px 40px 40px;
  }
}
@media(max-width: 900px){
  .header {
    background-position: top 40px center;
  }
  .benefits__position-textarea {
    max-width: 290px;
  }
  .benefits__item {
    padding: 60px 50px 65px;
  }
  .gallery__top {
    padding: 65px 0 65px;
  }
  .gallery__bottom-item__info-like__counter{
    font-weight: 700;
  }
}
@media(max-width: 850px){
  .header__bottom {
    padding: 60px 0 80px;
  }
  .benefits__position-textarea {
   max-width: 256px;
  }
  .benefits__position-title.benefits__title{
    margin-bottom: 0;
  }
  .benefits__top {
    padding: 50px 0 45px;
  }
  .search-top__link {
    padding: 25px 95px 26px;
  }
}
@media(max-width: 830px){
  .header__min .header__inner .header__top .menu .menu__list .menu__list-item.logo{
    transform: translateY(9px);
  }
  .gallery__bottom-item:first-child{
    height: 480px;
    width: 100%;
    img{
      height: 400px;
    }
  }
  .gallery__bottom-item__info{
    background-color: #f2f2f2;
    color: #000;
  }
  .gallery__bottom-item__info-left__title{
    color: #000;
  }
  .gallery__bottom-item__info-like::before {
    background-image: url('../images/like-icon__responsive.png');
  }
  .gallery__bottom-item{
    width: 324px;
    height: 347px;
  }
  .gallery__bottom-item .gallery__bottom-item__img{
    height: 267px;
  }
  .gallery__bottom{
    padding: 0 60px;
  }
  .video {
    padding: 65px 60px 85px;
  }
  .video__watch-img{
    width: 100%;
  }
  .video__watch-info__timeline {
    max-width: 420px;
  }
}
@media(max-width: 800px) {
  .benefits__position-img {
    max-width: 800px;
    width: 120%;
    margin-left: -50px;
  }
  .benefits__item {
    padding: 60px 45px 40px;
  }
  .benefits__items-positions .benefits__item-title {
    margin: 0 0 13px;
  }
  .search-top__text {
    max-width: 88%;
    margin: 0 auto 45px;
  }
 body .container{
    padding: 0;
  }
  .hotels-search__item-content__title {
    font-size: 18px;
    line-height: 22px;
  }
  .hotels-search__item-content__link{
    font-size: 12px;
    line-height: 14px;
  }
  .star-list__field {
    margin-top: 41px;
  }
  .video__watch-info__timeline {
    max-width: 410px;
  }
  .video {
    padding: 60px 60px 40px;
  }
}
@media(max-width: 770px){
  .video__watch-info__timeline {
    max-width: 389px;
  }
}
@media(max-width: 760px){
  .gallery__bottom-inner{
    justify-content: center;
  }
  .gallery__bottom-item:first-child {
    height: 430px;
  }
  .gallery__bottom-item:first-child img {
    height: 350px;
  }
}
@media(max-width: 700px){
  .benefits__position-img {
    width: 135%;
    margin-left: -80px;
  }
  .search-form__input {
    width: 310px;
  }
  .search-form__input-numerous{
    width: 114px !important;
  }
  .search-form__label:nth-child(3) {
    margin-right: 13px;
  }
  .search-form__btn {
    padding: 16px 180px 17px;
    margin-top: 40px;
  }
  .hotels-search__top-btn {
    padding: 7px 20px 8px;
  }
  .hotels-search__top-inner {
    flex-direction: column;
    align-items: center;
  }
  .hotels-search__top-right .hotels-search__top-title{
    text-align: center;
  }
  .hotels-search__top-left{
    margin-bottom: 40px;
  }
  .hotels-search__top {
    padding: 29px 0 50px;
  }
}
@media(max-width: 650px) {
  .benefits__items-positions .benefits__item {
    padding: 45px 35px 40px;
  }
  .gallery__top {
    padding: 40px 0 35px;
  }
  .gallery__bottom-item {
    padding-top: 23px;
  }
  .gallery__bottom-item {
    width: 300px;
    height: 410px;
  }
  .gallery__bottom-item .gallery__bottom-item__img {
    height: 300px;
  }
  .gallery__top-title {
    font-size: 26px;
    line-height: 31px;
  }
}
@media(max-width: 640px){
  .benefits__top .benefits__title {
    font-size: 18px;
    line-height: 21px;
  }
  .benefits__position{
    flex-direction: column;
  }
  .benefits__position-textarea {
    max-width: 100%;
    width: 100%;
  }
  .benefits__position-revert{
    .benefits__position-textarea{
      padding: 40px 25px;
    }
  }
  .benefits__position-revert .benefits__position-img__wrapper{
    order: 1;
  }
  .benefits__position-textarea {
    padding: 70px 25px 38px;
  }
  .benefits__position-normal{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/benefits__before.png');
      width: 100%;
      height: 37px;
      top: 0;
    }
  }
  .benefits__position-img__wrapper {
    max-height: 260px;
  }
  .benefits__item-title {
    font-size: 18px;
    line-height: 21px;
  }
  .benefits__item {
    padding: 60px 35px 40px;
  }
  .benefits__items-positions{
    flex-direction: column;
  }
  .benefits__items-positions.benefits__wrapper {
    max-height: 100%;
  }
  .benefits__items-positions .benefits__item-title {
    white-space: normal;
    font-size: 21px;
    line-height: 24px;
  }
  .benefits__position-title.benefits__title{
    white-space: normal;
  }
  .benefits__items-positions .benefits__item {
    padding: 30px 35px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 1px;
      max-width: calc(100% - 40px);
      width: 100%;
      background-color: #d6d6d6;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:first-child{
      &::before{
        display: none;
      }
    }
  }
}
@media(max-width: 600px){
  .menu__list-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .menu__list-item{
      width: 100%;
      color: #fff;
      border-top: 1px solid #9ac2db;
      border-bottom: 1px solid #678fa8;
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        color: #fff;
      }
      &.menu__list-item--active{
        .menu__list-link{
          background-color: #5496bd;
          color: rgba(#fff, .3);
        }
      }
    }
    & .menu__list-item .menu__list-link{
      padding: 17px 20px 18px;
      width: 100%;
      background-color: #81b3d2;
      text-align: center;
      transition: all .3s;
      &:hover{
        background-color: #669ec0;
      }
    }
  }
  .menu__list {
    height: auto;
    flex-direction: column;
    display: none;
  }
  .menu__list-item.logo{
    display: none;
  }
  .header {
    background-position: top 55px center;
  }
  .header__top{
    height: 56px;
    display: flex;
    justify-content: center;
  }
  .logo__mobile{
    display: block;
  }
  .menu__slick{
    display: block;
    position: relative;
  }
  .menu__close{
    position: absolute;
    right: 6px;
    transform: rotate(45deg);
    top: 26px;
    z-index: 5;
    cursor: pointer;
    div{
      width: 4px;
      height: 28px;
      background-color: #fff;
      &:last-child{
        width: 28px;
        height: 4px;
        margin-top: -50%;
        margin-left: -50%;
        transform: translateX(2px) translateY(-3px);
      }
    }
  }
  .menu__mobile{
    width: 23px;
    height: 21px;
    position: absolute;
    z-index: 5;
    right: 20px;
    bottom: -39px;
    cursor: pointer;
    div{
      width: 100%;
      height: 4px;
      background-color: #81b3d2;
    }
    div + div {
      margin-top: 4px;
    }
  }
  .footer{
    position: static;
  }
  .footer__inner{
    flex-direction: column;
  }
  .footer__link,
  .footer__social{
    margin-bottom: 39px;
  }
  .search-form {
    max-width: 535px;
  }
  .search-form__inner{
    justify-content: flex-start;
  }
  .search-form__input {
    width: 280px;
  }
  .search-form__label:nth-child(3) {
    margin-right: 45px;
  }
  .search-form__label:nth-child(4) .search-form__input-numerous {
    margin-left: 73px;
  }
  .hotels-search__top {
    padding: 50px 0;
  }
  .hotels-search__bottom-filter__left {
    max-width: 470px;
  }
  .hotels-search__bottom-filter__sort-list__item + .hotels-search__bottom-filter__sort-list__item {
    margin-left: 20px;
  }
  .hotels-search__bottom-filter__sort-title {
    margin-right: 20px;
  }
  .gallery__bottom-item:first-child img {
    height: 325px;
  }
}
@media(max-width: 570px){
  .hotels-search__item-inner {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .star-list{
    justify-content: center;
  }
  .star-list__field {
    margin-top: 10px;
    width: 100%;
  }
  .hotels-search__bottom-filter {
    padding: 15px 0 15px;
  }
  .hotels-search__item-rate{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .star-list__field{
    text-align: center;
  }
  .hotels-search__item-content{
    margin-bottom: 40px;
  }
  .hotels-search__bottom-filter__inner {
    flex-direction: column;
    align-items: center;
  }
  .hotels-search__bottom-filter__right{
    margin-bottom: 10px;
  }
  .gallery__bottom-item .gallery__bottom-item__img {
    height: 280px;
  }
  .gallery__bottom-item {
    height: 390px;
  }
  .gallery__top-title {
    font-size: 23px;
    line-height: 28px;
  }
  .gallery__top {
    padding: 40px 0 30px;
  }
}
@media(max-width: 550px){
  .benefits__top-items{
    flex-direction: column;
    text-align: left;
    padding: 35px 0 40px;
  }
  .benefits__top-items .benefits__item {
    padding: 0 20px;
    position: relative;
    &:nth-child(2){
      order: 1;
    }
    & + & {
      margin-top: 25px;
    }
  }
  .benefits__item-img{
    position: absolute;
    left: 20px;
    top: -10px;
  }
  .benefits__top-items .benefits__item .benefits__item-title,
  .benefits__top-items .benefits__item .benefits__item-text{
    padding-left: 50px;
  }
  .benefits__item-title {
    margin: 0 0 25px 0;
  }
  .search-top__title {
    font-size: 27px;
    line-height: 32px
  }
  .search-top__text {
    margin: 0 auto 40px;
  }
  .search-form{
    padding: 40px;
    max-width: 480px;
  }
  .search-form__inner{
    justify-content: center;
  }
  .search-form__btn {
    padding: 16px 150px 17px;
  }
  .search-form__label:nth-child(4) .search-form__input-numerous {
    margin-left: 29px;
  }
  .gallery__bottom {
    padding: 0 30px;
  }
}
@media(max-width: 500px){
  .header__bottom-title {
    font-size: 80px;
    line-height: 86px;
  }
  .header__bottom-img{
    width: 55%;
  }
  .search-top {
    padding-top: 40px;
  }
  .search-top__link {
    padding: 25px 60px 26px;
  }
  .search-top__title {
    font-size: 24px;
    line-height: 29px;
  }
  .search-bottom iframe {
    height: 500px;
  }
  .search-form__label:nth-child(1),
  .search-form__label:nth-child(2){
    .search-form__input {
      width: 230px;
    }
  }
  .search-form{
    max-width: 450px;
  }
  .hotels-search__bottom-filter__sort-list__item + .hotels-search__bottom-filter__sort-list__item {
    margin-left: 10px;
  }
  .hotels-search__bottom-filter__left{
    padding: 0 10px;
  }
  .header__change{
    .header__bottom {
      padding: 40px 0 65px;
    }
  }
  .gallery__top-title {
    font-size: 20px;
    line-height: 25px;
  }
  .gallery__bottom-item {
    width: 280px;
    &:nth-child(2){
      .gallery__bottom-item__info{
        .gallery__bottom-item__info-left{
          .gallery__bottom-item__info-left__title{
            white-space: nowrap;
          }
        }
      }
    }
  }
}
@media(max-width: 450px) {
  .search-top__link {
    padding: 25px 40px 26px;
  }
  .search-bottom iframe {
    height: 450px;
  }
  .search-form__label + .search-form__label {
    margin-top: 20px;
  }
  .search-form__label:nth-child(1) .search-form__input, .search-form__label:nth-child(2) .search-form__input {
    width: 200px;
  }
  .search-form__label:nth-child(3) {
    margin-right: 81px;
  }
  .search-form__label:nth-child(4){
    margin-right: 37px;
  }
  .search-form {
    padding: 30px;
  }
  .search-form__btn {
    padding: 12px 120px 13px;
    font-size: 18px;
    line-height: 23px;
    margin-top: 25px;
  }
  .hotels-search__item-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hotels-search__item-content__textarea{
    margin-left: 0;
  }
  .hotels-search__item-content__fields{
    max-width: 100%;
  }
  .hotels-search__bottom-filter__left{
    display: block;
    max-width: 100%;
    text-align: center;
  }
  .hotels-search__bottom-filter__sort{
    justify-content: center;
    text-align: center;
  }
  .hotels-search__bottom-filter__title{
    margin-bottom: 10px;
  }
  .header__change {
    .header__bottom {
      padding: 25px 0 50px;
    }
  }
  .gallery__bottom {
    padding: 0;
  }
  .gallery__bottom-item:first-child {
    max-width: 360px;
    width: auto;
  }
  .gallery__bottom-item{
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: calc(100% + 40px);
      background-color: #e5e5e5;
    }
  }
  .gallery__bottom-item__info {
    background-color: #fff;
  }
}
@media(max-width: 400px){
  .header__bottom-title {
    font-size: 65px;
    line-height: 71px;
  }
  .benefits__position-img {
    width: 150%;
    margin-left: -80px;
  }
  .search-bottom iframe {
    height: 400px;
  }
  .search-top__title {
    font-size: 21px;
    line-height: 26px;
  }
  .search-top {
    padding-top: 33px;
  }
  .search-form__label:nth-child(1) .search-form__input, .search-form__label:nth-child(2) .search-form__input {
    width: 170px;
  }
  .search-form__label:nth-child(3) {
    margin-right: 55px;
  }
  .search-form__label:nth-child(4) {
    margin-right: 11px;
  }
  .gallery__top {
    padding: 40px 20px 30px;
  }
  .gallery__bottom-item:first-child {
    max-width: 320px;
    height: 433px;
  }
  .gallery__bottom-item {
    height: 433px;
  }
  .gallery__bottom-item:first-child img {
    height: 280px;
  }
  .gallery__top-title {
    font-size: 18px;
    line-height: 23px;
  }
  .gallery__bottom-item__info {
    align-items: flex-start;
    flex-direction: column;
    padding: 17px 0 14px 0;
  }
}
@media(max-width: 380px){
  .search-top__link {
    padding: 20px 20px 21px;
    font-size: 18px;
    line-height: 21px;
  }
  .gallery__bottom-item:first-child {
    max-width: 280px;
  }
  .gallery__bottom-item__info {
    padding: 17px 0 8px 0;
  }
  .gallery__bottom-item__info-like{
    top: -5px;
  }
}
@media(max-width: 360px){
  .search-form__btn {
    padding: 12px 100px 13px;
  }
  .search-form {
    padding: 10px;
  }
  .irs--flat .irs-line {
    width: 300px;
  }
  .hotels-search__top-right .hotels-search__top-title::before, .hotels-search__top-right .hotels-search__top-title::after {
    width: 300px;
  }
}
@media(max-width:350px){
  .benefits__position-img {
    width: 165%;
  }
  .benefits__top-items {
    padding: 35px 0 35px;
  }
  .search-bottom iframe {
    height: 350px;
  }
  .search-top {
    padding-top: 28px;
  }
}