@media(max-width: 950px){
  .header {
    background-position: top 20px center;
  }
}
@media(max-width: 900px){
  .header {
    background-position: top 40px center;
  }
}
@media(max-width: 850px){
  .header__bottom {
    padding: 60px 0 80px;
  }
}

