@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    background-image: url('../images/header__bg-before.png');
    width: 1199px;
    height: 58px;
    bottom: 0;
  }
  &__top{
    background-color: #fff;
  }
  &__bottom{
    text-align: center;
    padding: 75px 0 80px;
  }
  &__bottom-title{
    font-size: 100px;
    line-height: 106px;
    color: #fff;
    margin: 20px 0;
  }
}
.menu{
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }
  &__list-item.logo{
    transform: translateY(9px);
  }
  &__list-link{
    @extend %ptsans-bold;
    font-size: 14px;
    line-height: 26px;
  }
}
.benefits{
  &__wrapper{
    max-height: 256px;
    height: 100%;
  }
  &__top{
    padding: 50px 0;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
  }
  &__phrase{
    margin-bottom: 30px;
  }
  &__text{
    color: #333333;
  }
  &__position{
    display: flex;
    text-align: center;
    align-items: center;
  }
  &__position-textarea{
    background-color: #81b3d2;
    color: #fff;
    padding: 45px 50px 60px;
    max-width: 400px;
    max-height: 256px;
  }
  &__position-img__wrapper{
    overflow: hidden;
    max-height: 256px;
  }
  &__position-img{
    max-width: 800px;
    width: 100%;
    margin-top: -75px;
  }
  &__position-text{
    margin: 26px 0;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__item{
    padding: 60px 73px 75px;
  }
  &__item-title{
    margin: 25px 0;
  }
  &__items-positions{
    background-color: #eeeeee;
    & .benefits__item {
      padding: 45px 73px 40px;
    }
    & .benefits__item-title{
      margin: 0 0 25px;
    }
    & .benefits__item-text{
      margin-bottom: 25px;
    }
  }
}

@import "media";
