@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-image: url('../images/header__bg-before.png');
    width: 1200px;
    height: 57px;
    bottom: 0;
  }
  &__top {
    background-color: #fff;
  }
  &__bottom {
    text-align: center;
    padding: 75px 0 80px;
  }
  &__bottom-title {
    font-size: 100px;
    line-height: 106px;
    color: #fff;
    margin: 20px 0;
  }
  &__min{
    &::before{
      display: none;
    }
  }
  &.header__change{
    background-position: center center;
  }
}
.menu {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }
  &__list-item.logo {
    transform: translateY(9px);
  }
  &__list-link {
    @extend %ptsans-bold;
    font-size: 14px;
    line-height: 26px;
  }
  &__list-item{
    transition: all .3s;
    &:hover{
      color: #81b3d2;
    }
  }
  &__list-item.menu__list-item--click{
    color: rgba(#000, .3);
  }
  &__list-item.menu__list-item--active{
    color: #766357;
  }
}
.benefits {
  &__wrapper {
    max-height: 256px;
    height: 100%;
  }
  &__top {
    padding: 50px 0;
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
  }
  &__phrase {
    margin-bottom: 30px;
  }
  &__position {
    display: flex;
    text-align: center;
    align-items: center;
  }
  &__position-textarea {
    background-color: #81b3d2;
    color: #fff;
    padding: 45px 50px 60px;
    max-width: 400px;
    max-height: 256px;
  }
  &__position-title.benefits__title {
    color: #fff;
  }
  &__position-img__wrapper {
    overflow: hidden;
    max-height: 256px;
  }
  &__position-img {
    max-width: 800px;
    width: 100%;
    margin-top: -75px;
  }
  &__position-text {
    margin: 26px 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__item {
    padding: 60px 73px 75px;
  }
  &__item-title {
    margin: 25px 0;
  }
  &__items-positions {
    background-color: #eeeeee;
    & .benefits__item {
      padding: 45px 73px 40px;
    }
    & .benefits__item-title {
      margin: 0 0 25px;
    }
    & .benefits__item-text {
      margin-bottom: 25px;
    }
  }
}
.search {
  position: relative;
  &-top {
    padding-top: 50px;
    text-align: center;
  }
  &-top__textarea {
    max-width: 450px;
    margin: 0 auto;
  }
  &-top__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  &-top__text {
    margin-bottom: 45px;
  }
  &-top__link {
    padding: 29px 139px 31px;
    background-color: #766357;
    color: #fff;
    font-size: 21px;
    line-height: 24px;
    transition: all .3s;
    &:hover{
      background-color: #604e43;
      box-shadow: 0 10px 20px rgba(0,1,1,.25);
    }
    &.search-top__link--active{
      background-color: #503e33;
      color: rgba(#fff, .3);
    }
  }
  &-bottom iframe{
    max-width: 100%;
    width: 100%;
    height: 593px;
  }
  &-form{
    max-width: 568px;
    margin: 0 auto;
    background-color: #fff;
    padding: 55px;
    box-shadow: 0 7px 15px rgba(0,1,1,.15);
  }
  &-form__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-form__label{
    display: flex;
    align-items: center;
    @extend %ptsans-bold;
    &:first-child{
      .search-form__input{
        margin-left: 23px;
      }
    }
    & + & {
      margin-top: 30px;
    }
  }
  &-form__input{
    width: 346px;
    margin-left: 20px;
    background-color: #f2f2f2;
    padding: 11px 12px 12px;
    transition: all .3s;
    border: 2px solid #f2f2f2;
    &::placeholder{
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
    }
    &:hover{
      background-color: #ebebeb;
      border: 2px solid #ebebeb;
    }
    &:focus{
      background-color: #fff;
      border: 2px solid #e5e5e5;
    }
  }
  &-form__btn{
    padding: 16px 210px 17px;
    border: none;
    margin-top: 54px;
    background-color: #81b3d2;
    text-transform: uppercase;
    color: #fff;
    @extend %ptsans-bold;
    font-size: 21px;
    line-height: 26px;
    transition: all .3s;
    cursor: pointer;
    &:hover{
      background-color: #669ec0;
    }
    &.search-form__btn--active{
      background-color: #5496bd;
      color: rgba(#fff, .3);
    }
  }
  &-form__input-numerous{
    width: 114px;
    padding: 11px 51px 12px;
  }
  &-form__label:last-child .search-form__input-numerous{
    margin-right: 100px;
  }
  &-form__label:nth-child(3){
    margin-right: 50px;
    .search-form__input-numerous{
      margin-left: 40px;
    }
  }
  &-form__label:nth-child(4){
    .search-form__input-numerous{
      margin-left: 30px;
    }
  }
  &-form__label,
  &-form__label{
    position: relative;
  }
  &-form__input-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 9px;
    width: 21px;
    height: 22px;
    cursor: pointer;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/popup-calendar.png');
      width: 21px;
      height: 22px;
      left: 0;
      top: 0;
    }
    &:hover{
      &::before{
        background-image: url('../images/popup-calendar__hover.png');
      }
    }
    &.search-form__input-btn--active{
      &::before{
        background-image: url('../images/popup-calendar__active.png');
      }
    }
  }
  &-form__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover{
      &::before {
        bottom: 3px;
        position: absolute;
        content: "";
      }
    }
    &.search-form__button--active {
      &::before {
        position: absolute;
        content: "";
        bottom: 3px;
      }
    }
  }
  &-form__up {
    right: 14px;
    &:hover {
      &::before {
        background-image: url('../images/plus-hover.png');
        width: 11px;
        height: 11px;
      }
    }
    &.search-form__button--active {
      &::before {
        background-image: url('../images/plus-active.png');
        width: 11px;
        height: 11px;
      }
    }
  }
  &-form__down{
    right: 89px;
    transform: translateY(calc(-50% - 3px));
    &:hover{
      &::before{
        background-image: url('../images/minus-hover.png');
        width: 12px;
        height: 3px;
        left: 0;
      }
    }
    &.search-form__button--active {
      &::before {
        background-image: url('../images/minus-active.png');
        width: 12px;
        height: 3px;
      }
    }
  }
}
.footer{
  position: absolute;
  bottom: 0;
  z-index: 5;
  background-color: rgba(#fff, .9);
  max-width: 100%;
  width: 100%;
  padding: 36px 0;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link{
    @extend %ptsans-bold;
    font-size: 21px;
    line-height: 25px;
    color: #000;
  }
  &__social{
    display: flex;
  }
  &__social-item{
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    transition: all .3s;
    &:hover{
      background-color: #669ec0;
    }
    & + & {
      margin-left: 6px;
    }
    &.footer__social-item--active{
      background-color: #5496bd;
      & .footer__social-link{
        opacity: 30%;
      }
    }
  }
  &__social-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__by{
    display: flex;
    align-items: center;
  }
  &__by-text{
    margin-right: 8px;
    color: #000;
  }
  &__by-link{
    width: 115px;
    height: 41px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/footer__by.png');
      width: 115px;
      height: 41px;
      background-repeat: no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover{
      &::before{
        background-image: url('../images/footer__by-hover.png');
      }
    }
  }
  &__by.footer__by--active{
    .footer__by-link{
      &::before{
        background-image: url('../images/footer__by-active.png');
      }
    }
  }
  &__min{
    position: static;
  }
}
.hotels-search{
  &__top{
    background-image: url('../images/filter__hotels-bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top -60px center;
    padding: 29px 0 31px;
    color: #fff;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
  }
  &__top-left{
    display: flex;
    max-width: 395px;
    width: 100%;
    justify-content: space-between;
  }
  &__top-left .hotels-search__top-title{
    margin-bottom: 25px;
  }
  &__top-title{
    font-size: 16px;
    line-height: 20px;
    @extend %ptsans-bold;
  }
  &__top-item__list-field{
    & + & {
      margin-top: 22px;
    }
  }
  &__top-item__label{
    display: flex;
    align-items: center;
  }
  &__top-right .hotels-search__top-title{
    margin-bottom: 40px;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      width: 317px;
      height: 2px;
      background-color: #fff;
      left: 0;
      border-radius: 3px;
    }
    &::before{
      top: 31px;
    }
    &::after{
      top: 65px;
    }
  }
  &__top-btn{
    position: relative;
    padding: 8px 34px 9px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
    cursor: pointer;
    transition: all .3s;
    &::before{
      position: absolute;
      content: "";
      width: 2px;
      height: 22px;
      background-color: #fff;
      left: 50%;
      top: -83px;
      transform: translateX(-50%);
    }
    &:hover{
      color: #000;
      background-color: #fff;
    }
  }
  &__bottom-filter{
    padding: 26px 0 27px;
  }
  &__bottom-filter__inner{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-filter__left{
    display: flex;
    max-width: 528px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-filter__sort{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
  }
  &__bottom-filter__sort-list__item{
    display: inline-block;
    & + & {
      margin-left: 31px;
    }
  }
  &__bottom-filter__sort-title{
    margin-right: 40px;
  }
  &__bottom-filter__title{
    font-size: 21px;
    line-height: 25px;
    @extend %ptsans-bold;
  }
  &__bottom-filter__sort-list__item .hotels-search__bottom-filter__sort-list__link{
    border-bottom: 1px  solid #81b3d2;
    border-bottom-style: dotted;
    color: rgba(#000, .3);
    transition: all .3s;
    &:hover{
      color: #81b3d2;
    }
  }
  &__bottom-filter__sort-list__item.hotels-search__bottom-filter__sort-list__item--click .hotels-search__bottom-filter__sort-list__link{
    color: rgba(#000, 1);
    border-bottom: 1px  solid transparent;
  }
  &__bottom-filter__sort-list__item.hotels-search__bottom-filter__sort-list__item--active .hotels-search__bottom-filter__sort-list__link{
    color: #81b3d2;
    border-bottom: 1px  solid transparent;
  }
  &__bottom-filter__arrow{
    position: relative;
    &:first-child{
      &::before{
        position: absolute;
        content: "";
        width: 11px;
        height: 10px;
        background-image: url('../images/icon-up-off.png');
      }
      &:hover{
        &::before{
          background-image: url('../images/icon-up-hover.png');
        }
      }
      &.hotels-search__bottom-filter__arrow--active{
        &::before{
          background-image: url('../images/icon-up-on.png');
        }
      }
    }
    &:last-child{
      &::before{
        position: absolute;
        content: "";
        width: 11px;
        height: 10px;
        background-image: url('../images/icon-down-off.png');
      }
      &:hover{
        &::before{
          background-image: url('../images/icon-down-hover.png');
        }
      }
      &.hotels-search__bottom-filter__arrow--active{
        &::before{
          background-image: url('../images/icon-down-on.png');
        }
      }
    }
    & + & {
      margin-left: 12px;
    }
  }
  &__line{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      bottom: 0;
    }
  }
  &__item-inner{
    display: flex;
    justify-content: space-between;
  }
  &__item-content{
    display: flex;
    max-width: 425px;
    justify-content: space-between;
  }
  &__item{
    padding: 30px 0 31px;
  }
  &__item-content__textarea{
    margin-left: 30px;
  }
  &__item-content__fields{
    max-width: 185px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item-content__title{
    font-size: 21px;
    line-height: 25px;
    transition: all .3s;
    &:hover{
      color: #81b3d2;
    }
    &.hotels-search__item-content__title--active{
      color: rgba(#000, .3);
    }
  }
  &__item-content__field{
    margin-top: 10px;
  }
  &__item-content__link{
    padding: 5px 17px 6px;
    @extend %ptsans-bold;
    color: #fff;
    transition: all .3s;
    &:first-child{
      background-color: #81b3d2;
      &:hover{
        background-color: #669ec0;
      }
      &.hotels-search__item-content__link--active{
        background-color: #5496bd;
      }
    }
    &:nth-child(2){
      background-color: #766357;
      &:hover{
        background-color: #604e43;
      }
      &.hotels-search__item-content__link--active{
        background-color: #503e33;
      }
    }
    &.hotels-search__item-content__link--active{
      color: rgba(#fff, .3);
    }
    & + & {
      margin-left: 3px;
    }
  }
}
.star-list{
  display: flex;
  justify-content: flex-end;
}
.star-list__item{
  & + & {
    margin-left: 6px;
  }
}
.star-list__field{
  margin-top: 45px;
}
.star-list__field-text{
  padding: 5px 15px 6px;
  background-color: #f2f2f2;
  color: #666666;
  margin: 0;
}
.hotels-search__top-item__checkbox{
  display: none;
}
.hotels-search__top-item__checkbox + label::before{
  content: "";
  display: inline-block;
  width: 26px;
  height: 23px;
  margin-right: 16px;
  background-image: url('../images/checkbox-off.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.hotels-search__top-item__checkbox:checked + label:before{
  background-image: url('../images/checkbox-on.png');
}
.hotels-search__top-item__checkbox:disabled + label:before{
  background-image: url('../images/checkbox-off__disabled.png');
}
.hotels-search__top-item__checkbox:checked:disabled + label:before{
  background-image: url('../images/checkbox-on__disabled.png');
}
.irs--flat .irs-line{
  width: 317px;
  height: 2px;
  background-color: rgba(#fff, .3);
}
.irs--flat .irs-bar{
  height: 2px;
  background-color: #fff;
}
.irs--flat .irs-handle > i:first-child{
  width: 20px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  transition: all .3s;
  cursor: pointer;
  top: calc(-50% + 3px);
  &::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
  background-color: #fff;
  width: 22px;
  height: 24px;
}
.irs--flat .irs-handle > i:first-child{
  margin-left: -10px;
}
.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}
.irs-from, .irs-to {
  left: auto !important;
  top: -20px;
  visibility: visible !important;
}
.irs--flat .irs-from{
  left: 67px !important;
  &::before,
  &::after{
    position: absolute;
  }
  &::before{
    content: "ОТ ";
    font-size: 14px;
    line-height: 16px;
    width: 22px;
    height: 15px;
    margin: 0;
    left: -20px;
    top: 1px;
    border: transparent;
  }
  &::after{
    content: "";
    height: 34px;
    width: 2px;
    background-color: #fff;
    left: -67px;
    top: -8px;
  }
}
.irs--flat .irs-to{
  right: 52px !important;
  &::before,
  &::after{
    position: absolute;
  }
  &::before{
    content: "ДО ";
    font-size: 14px;
    line-height: 16px;
    width: 22px;
    height: 15px;
    margin: 0;
    left: -20px;
    top: 1px;
    border: transparent;
  }
  &::after{
    content: "";
    height: 34px;
    width: 2px;
    background-color: #fff;
    right: -52px;
    top: -8px;
  }
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-shadow: none;
  padding: 1px 5px;
  background-color: transparent;
  border-radius: 0;
  @extend %ptsans-regular;
}
.irs-single{
  display: none;
}
.gallery{
  &__top{
    padding: 105px 0 65px;
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
  }
  &__top-title{
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  &__bottom-inner{
    display: flex;
    flex-wrap: wrap;
  }
  &__bottom-item{
    position: relative;
    & .gallery__bottom-item__img{
      width: 100%;
      height: 100%;
    }
  }
  &__bottom-item__info{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding: 17px 30px 14px 20px;
    background-color: rgba(#000, .3);
    align-items: center;
  }
  &__bottom-item__info-left__title{
    color: #fff;
    margin-bottom: -5px;
  }
  &__bottom-item__info-like{
    padding-left: 33px;
    position: relative;
    cursor: pointer;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      background-image: url('../images/like-icon.png');
      width: 23px;
      height: 21px;
      top: 10px;
    }
  }
  .gallery__bottom-item__info-left__text{
    text-transform: none;
  }
}
@import "media";
